
body {
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-1 {
  padding: 1rem;
}

.yellow {
  color: #ffc90c;
}

.w-100 {
  width: 100%;
}

.block {
  display: block;
}

.pos-relative {
  position: relative;
}

header {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  right: 2rem;
  z-index: 2;
}

header a {
  color: white;
  text-decoration: none;
}

.copyright {
  position: absolute;
  color: #8690b3;
  bottom: 1rem;
  left: 2rem;
}

footer {
  background-color: rgb(51,55,70);
  padding: 4rem 2rem;
}

footer a {
  color: white;
}

.brand {
  /* margin-left: 1rem; */
}

.title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.2rem;
}

.subtitle {
  font-size: 1.2rem;
}

.cta-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 140px;
  position: relative;
  text-transform: uppercase;
  color: white;
  border: 1px solid #ffc90c;
  font-weight: bold;
  line-height: 2.8rem;
  padding: 0 6rem 0 2rem;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #ffc90c;
}

.cta-btn.cta-btn-yellow {
  background-color: #ffc90c;
}

.cta-btn.cta-btn-yellow:hover {
  background-color: white;
  color: #ffc90c;
}

.cta-btn.cta-btn-grey {
  border: 1px solid #393745;
  color: #393745;
}

.cta-btn.cta-btn-grey:hover {
  background-color: rgb(204,206,213);
}

.cta-btn>.arrow {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4rem;
  background-color: rgba(255, 201, 12, 20%);
}

.cta-btn.cta-btn-yellow>.arrow {
  background-color: rgb(255, 228, 131);
}

.cta-btn.cta-btn-grey>.arrow {
  background-color: rgb(204,206,213);
  color: white;
}

.brand a {
  font-weight: bold;
  font-size: 1.8rem;
}

.brand h3 {
  margin: 0;
}

nav a {
  margin-left: 3rem;
  font-weight: bold;
  /* font-size: 1.2rem; */
  text-transform: uppercase;
}

section {
  /* padding: 2rem; */
  position: relative;
}

.section-content {
  max-width: 1280px;
  margin: 0 auto;
}

section.full-hight {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.terms-section {
  color: #17151a;
  padding: 4rem 0;
}

.contact-us-section {
  background-color: rgb(134,144,179);
  padding: 4rem 0;
}
.contact-us-section a {
  color: white;
}

.main-section-bg {
  background: rgb(59,64,80);
  background: linear-gradient(90deg, rgba(59,64,80,1) 0%, rgba(192,202,229,1) 100%);
}

.bg-gradient-1 {
  background: rgb(171,185,216);
  background: linear-gradient(134deg, rgba(171,185,216,1) 50%, rgba(255,255,255,1) 85%);
}

.bg-gradient-2 {
  background: white;
  background: linear-gradient(90deg, rgba(238,241,247,1) 0%, rgba(171,185,216,1) 50%);
}

.bg-grey-1 {
  background-color: #17151a;
}

.bg-grey-3 {
  background-color: #f7f8fc;
}

.cnr-logo {
  filter: grayscale() invert();
  height: 60px;
}

.epfl-logo {
  filter: grayscale() invert();
  height: 26px;
}

.info-block {
  position: relative;
  background-color: #f7f8fc;
  padding: 1rem 2rem;
  color: #393745;
}

.info-block-img-right {
  height: 4rem;
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.info-block-img-left {
  height: 4rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.resource-block {
  display: block;
  text-decoration: none;
  color: #f7f8fc;
  background-color: rgb(83,89,111);
  border: 1px solid rgb(83,89,111);
  padding: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
.resource-block:hover {
  background-color: transparent;
}


.build-models-img {
  width: 100%;
}

.explore-models-img {
  width: 100%;
}
